@page
@model proyect1_Publicaciones.Pages.Publications.CreateModel
@{
    ViewData["Title"] = "Create Publication";
}

<br />
<h2 class="text-info">Create a new publication</h2>

<div class="border">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container" style="padding:30px">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Publication</label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Publicacion.texto" class="form-control" />
                    </div>
                    <span asp-validation-for="Publicacion.texto" class="text-danger"></span>
                    <div class="col-sm-2">
                        <input type="submit" value="Create" class="btn btn-primary form-control" />
                    </div>
                    <div class="col-sm-2">
                        <input asp-page="Index" type="submit" value="Volver" class="btn btn-success form-control"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>